/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.button_delete {
    position: relative;
    width: 150px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .button_delete, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button_delete .button__text {
    transform: translateX(35px);
    color: #fff;
    font-weight: 600;
    font-size: small;
  }
  
  .button_delete .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button_delete .svg {
    width: 20px;
  }
  
  .button_delete:hover {
    background: #cc0000;
  }
  
  .button_delete:hover .button__text {
    color: transparent;
  }
  
  .button_delete:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_delete:active .button__icon {
    background-color: #b20000;
  }
  
  .button_delete:active {
    border: 1px solid #b20000;
  }
  h2{  
    background: rgb(13,0,226);
    background: -moz-linear-gradient(59deg, rgba(13,0,226,1) 0%, rgba(190,231,236,1) 87%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(59deg, rgba(13,0,226,1) 0%, rgba(190,231,236,1) 87%, rgba(0,212,255,1) 100%);
    background: linear-gradient(59deg, rgba(13,0,226,1) 0%, rgba(190,231,236,1) 87%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d00e2",endColorstr="#00d4ff",GradientType=1); 
    color: aliceblue;
}
  
  .primer{background-color: rgb(233, 233, 233);}

  .navbar{ background: rgb(34,193,195);
    background: -moz-linear-gradient(59deg, rgba(34,193,195,1) 0%, rgba(45,84,253,1) 100%);
    background: -webkit-linear-gradient(59deg, rgba(34,193,195,1) 0%, rgba(45,84,253,1) 100%);
    background: linear-gradient(59deg, rgba(34,193,195,1) 0%, rgba(45,84,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2d54fd",GradientType=1); }